* {
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.custom-btn {
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    text-decoration: none;
    border: none;
}

.custom-link {
    transition: 0.3s;
    border: none;
}

.custom-link:hover {
    color: #444;
    transform: scale(1.1);
    text-decoration: underline;
}

.dropdown-menu {
    border: none;

    min-width: 10px !important;
}

.dropdown-item {
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    width: 100% !important;
}

.drodown-item:hover {
    color: #777 !important;
}

.dropdown-item:active {
    background-color: #fff;
    color: white;
}