.sidebar-title {
    font-family: 'Montserrat', sans-serif;
}

.box-product {
    background-color: #222;
    color: #eee;
}

.custom-card-product {
    background-color: #222;
    color: #eee;
    text-decoration: none;
    transition: 0.5s;
    border: none;
}

.custom-card-product:hover {
    transform: scale(1.1);
}


