.sidebar-title {
    font-family: 'Montserrat', sans-serif;
}

.custom-card-product {
    background-color: #F5F7FA;
    border: none;
    transition: 0.3s;
}

.custom-card-product:hover {
    scale: 1.1;
}



